*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.testimonial-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    position: absolute;
}

.testimonial-box{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0  9px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

.testimonial-box:hover{
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0  9px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}


.user-image {
    border-radius: 50%;
    width: 90px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 15px;
}

.user-name {
    font-size: 1.2em;
    margin: 10px 0 5px 0;
}

.user-title {
    font-size: 0.9em;
    color: #888;
    margin-bottom: 15px;
}

.testimonial {
    font-size: 0.95em;
    color: #555;
}