body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
}

header {
    background-image: url(../10image/MAIN.PNG);
    width: 100%;
    height: 100vh;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.auth-buttons .btn {
    margin-left: 1em;
    padding: 0.5em 1em;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    max-width: 1200px;
    margin: 0 auto;
}

.content {
    max-width: 50%;
}

h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.search-input {
    padding: 0.5em;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
}

.search-button {
    margin-left: 1em;
    padding: 0.5em 1em;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 4px;
}

.signin-link {
    display: block;
    margin-top: 1em;
    color: #000;
    text-decoration: none;
}

.food-image img {
    max-width: 600px;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}
